<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>Please verify your new account</p>
        <a href="{{link}}">Verify</a>
    </body>
</html>